.json-editor { 
  margin-left: 10px;
  padding: 20px;
  float: left;
}

.json-editor.expanded .item { 
  display: block !important;
}

.json-editor .property,
.json-editor .value { 
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 3px;
  margin-right: 2px;
}

.json-editor .value {
  background-color: #ECF3C3;
  width: 250px;
}
.json-editor .property {
  background-color: #B1C639;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  width: 180px;
}
.json-editor label.property {
	display: inline-block;
}

.json-editor .editing { 
  border: 1px solid gray;
  outline: none;
}

.json-editor .item { 
  line-height: 20px;
  margin-top: 2px;
  clear: both;
}
.json-editor .item:last-child { 
  border-bottom: none;
}

.json-editor .item > .item { 
  margin-left: 30px;
  display: none;
}

.json-editor .item.expanded > .item { 
  display: block;
}

.json-editor .expander { 
  background: url("tree_controls.png") no-repeat transparent;
  background-position: 0 0;
  width: 16px;
  height: 26px;
  display: inline-block;
  margin-left: -15px;
  cursor: pointer;
  float: left;
}
.json-editor .item.expanded > .expander { 
  background-position: -16px 0;
}

.json-editor .addchild,
.json-editor .removechild { 
  background: url("table_row_controls.png") no-repeat transparent;
  width: 22px;
  height: 18px;
  display: inline-block;
  margin-left: 0px;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px 5px;
  position: relative;
  float: left;
  left: 192px;
}

.json-editor .addchild {
	background-position: 0 0;
}
.json-editor .removechild {
	background-position: -32px 0;
}

/*************************************
 *	colors for the json data-types
 *************************************/
.json-editor .item.string > .property { background-color: #009408; }
.json-editor .item.array  > .property { background-color: #2D5B89; }
.json-editor .item.object > .property { background-color: #E17000; }
.json-editor .item.number > .property { background-color: #497B8D; }
/*.json-editor .item.boolean { background-color:  }*/
/*.json-editor .item.null { background-color:  }*/

.json-editor .item.array>.value,
.json-editor .item.object>.value {
	visibility: hidden;
}

.json-editor .item.array  > .property,
.json-editor .item.array .item.object > .property {
	position: relative;
	left: -33px;
}
